<!-- app.component.html -->

<mat-toolbar color="primary">
  <span> Angular Firebase in 10 mins </span>
</mat-toolbar>

<mat-card>
  <h1 mat-card-title>
    Visita il progetto su GitHub
  </h1>

  <mat-card-actions align="center">
    <a
      href="https://github.com/ludusrusso/firebase-10-minutes"
      target="_blank"
      mat-raised-button
      color="primary"
    >
      GitHub repo
    </a>
    <a
      href="https://ludusrusso.cc/2020/03/31/pubblicare-una-app-angular-in-10-minuti-con-firebase-hosting/"
      target="_blank"
      mat-raised-button
      color="primary"
    >
      Blog Post
    </a>
  </mat-card-actions>

  <mat-card-footer>
    <p>Designed by @ludusrusso</p>
  </mat-card-footer>
</mat-card>
